*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  background-color: aqua;
  min-height: 200vh;
}

.header {
  background-color: cadetblue;
  color: white;
  /* text-align: center; */
  position: sticky;
  top: 0px;
  z-index: 1;
}

.header ul {
    /* margin-left: 20px; */
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header ul li {
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: transform 0.4s linear;
}

.header ul li:hover {
  transform: scale(1.2);
}

.container {
  background-color: green;
  height: 50vh;
  position: relative;
}

.box {
  position: absolute;
  right: 0px;
  height: 100px;
  width: 100px;
  background-color: azure;
}

.layout {
  background-color: #fff;
}

.layout div {
  height: 100px;
  background-color: pink;
  display: inline-block;
  font-size: 30px;
}
/* 
.a {
  width: 300px;
  margin-right: 20px;
}

.b {
  width: 620px;
}

.c {
  width: 220px;
}

.d {
  width: 700px;
}

.e {
  width: 460px;
}

.f {
  width: 220px;
}

.g {
  width: 220px;
}

.h {
  width: 300px;
}

.i {
  width: 300px;
}

.j {
  width: 140px;
}

.k {
  width: 140px;
}

.l {
  width: 220px;
}

.m {
  width: 220px;
}

.n {
  width: 140px;
}

.o {
  width: 140px;
}

.p {
  width: 140px;
} */

.flexbox {
  height: 50vh;
  background-color: black;
  font-size: 40px;
  column-gap: 10px;
  row-gap: 10px;
  gap: 10px;
  display: flex;
  /* flex-direction: column; */
  /* justify-content: space-between; */
  /* justify-content: space-around; */
  /* justify-content: flex-end; */
  /* justify-content: flex-start; */
  justify-content: space-evenly;
  align-items: stretch;
  justify-content: center;
}

.d {
  /* flex: 1; */
  margin-left: auto;
}

.flexbox div {
  height: 50px;
  background-color: red;
  /* flex: 1; */
}