*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,body{
    width: 100%;
    height: 10%;
}

.Main-containder-slider{
    width: 100%;
    height: 400px;
    background-color: black;
    position: relative;
}

.slide{
    width: 100%;
    height: 100%;
    background-color:red;
    display: none;
}

.slide img{
    width: 100%;
    height: 100%;
    
}

.arrow{
    position: absolute;
    top: 50%;
    color: red;
    cursor: pointer;
    font-size: 30px;
    background-color: burlywood;
    padding: 0 10px;
    border-radius: 10px;
}

.arrow.next{
    right: 10px;

}

.arrow.prve{
    left: 10px;
}